<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Recipe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body>
    <div id="wrapper">
        <div id="container">
            <div id="header"></div>
            <div id="content">
                <div class="xlg_col">
                    <div class="nav">
                        <h1>Add a Recipe</h1>
                        <div>
                            <a href="/dashboard">Back to Recipes</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <form action="/add/recipe" method="POST">
                        <fieldset class="form">
                            <legend>Add a new recipe</legend>
                            <input type="hidden" name="user_id" value="{{session['user_id']}}">
                            <label for="recipe_name">Name:</label>
                            <input type="text" name="name" id="recipe_name" required>
                            <br>
                            <label for="description">Description:</label>
                            <br>
                            <textarea name="description" id="description" cols="90" rows="3" required></textarea>
                            <br>
                            <label for="instructions">Instructions:</label>
                            <br>
                            <textarea name="instructions" id="instructions" cols="90" rows="10" required></textarea>
                            <br>
                            <label for="date_cooked">Date cooked:</label>
                            <input type="date" name="date_cooked" id="date_cooked">
                            <label>Under 30 minutes:</label>
                            <label for="under_30_yes">Yes</label>
                            <input type="radio" name="under_30" id="under_30_yes" value="1">
                            <label for="under_30_no">No</label>
                            <input type="radio" name="under_30" id="under_30_no" value="0">
                            <br>
                            <input class="submit" type="submit" value="Add">
                            {% with messages = get_flashed_messages(category_filter=["create"]) %}
                            {% if messages %}
                            {% for message in messages %}
                            <p class="error">{{message}}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>