<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="wrapper">
        <div id="container">
            <div id="header"></div>
            <div id="content">
                <div class="xlg_col">
                    <div class="nav">
                        <h1>Welcome {{session['user_name']}}!</h1>
                        <div>
                            <a href="/dashboard">Back to Recipes</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <div class="nav">
                        <h2>{{recipe.name}}</h2>
                        <p>Posted By {{recipe.posted_by}}</p>
                    </div>
                    <fieldset>
                        <table>
                            <tr>
                                <td>
                                    <h3>Name:</h3>
                                </td>
                                <td>{{recipe.name}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Description:</h3>
                                </td>
                                <td>{{recipe.description}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Under 30 Minutes:</h3>
                                </td>
                                <td>
                                    {% if recipe.under_30 == 1 %}
                                    <p>Yes</p>
                                    {% else %}
                                    <p>No</p>
                                    {%endif%}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Instructions:</h3>
                                </td>
                                <td>{{recipe.instructions}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Date made:</h3>
                                </td>
                                <td>{{recipe.date_cooked.strftime('%m-%d-%y') }}</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div id="footer">
            </div>
        </div>
    </div>
</body>

</html>